
* {
  @include box-sizing(border-box);
}

a {
  outline: none;

  &:focus {
    outline: none !important;
  }
}

*:focus {
  outline: none;
}

body {
  background-color: $body-background;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $a-link-color;
  text-decoration: none;
  font-weight: 700; 
  
  &:hover,
  &:focus {
    color: $a-hover-color;
    text-decoration: none;
  }
}

ul,
dt,
dd {
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font: {
    family: $base-font-family;
  }
  color: $body-color;
  -webkit-appearance: none;
  @include background-clip(padding-box);
  @include border-radius(0);
}

.onepage-pagination {
  
  li {
    
    a {
      width: 6px;
      height: 6px;
      
      &:before {
        width: 6px;
        height: 6px;
        @include border-radius(0);
        background: $nav-color;
      }

      &.active {
        &:before {
          border: 1px solid $nav-color;
          background: $theme-color-3; 
        }
      }
    }
  }
}
