// Colors
$body-color: #252525;

// Backgrounds
$body-background: #fff;

// theme-colors
$theme-color-1: #252525;
$theme-color-2: #fff;
$theme-color-3: #dd4123;

// Links color
$a-link-color: #252525;
$a-hover-color: $theme-color-3;

// theme-border-radius
$theme-border-radius: 3px;

// transition
$transition-time:     0.25s;
$transition-function: ease;

// nav color 
$nav-color: #E9E9E9;