// Colors
$body-color: #252525;

// Backgrounds
$body-background: #fff;


// Links color
$a-link-color: #252525;
$a-hover-color: #dfdfdf;


// theme-colors
$theme-color-1: #252525;
$theme-color-2: #fff;
$theme-color-3: #dd4123;


// animation
